# Bağımlılıklar
/node_modules

# Üretim (Build) dosyaları
/dist

# Log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ortam değişkenleri dosyaları
.env
.env.local
.env.*.local

# IDE ve sistem dosyaları
.DS_Store